h1 {
  color: rgb(255,0,255);
  font-size: 3rem;
  text-transform: uppercase;
  background-color: #32CD32;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

button {
    background-color: green;
    color: snow;
    border-radius: 5px;
}
